<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  	<%= link_to "x", user, method: :delete,
                                  data: { confirm: "Are you sure?" },
                                  class: "btn btn-danger",style: "float:right" %>
  <% end %>
</li>